---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <a href="/" class="logo">
      <span>🚀</span>
      <span>{SITE_TITLE}</span>
    </a>
    
    <div class="nav-links">
      <HeaderLink href="/">首页</HeaderLink>
      <HeaderLink href="/blog">文章</HeaderLink>
      <HeaderLink href="/tags">标签</HeaderLink>
      <HeaderLink href="/search" title="搜索">🔍</HeaderLink>
    </div>
  </nav>
</header>
